[submodule "vercel-ai"]
	path = vercel-ai
	url = git@github.com:BodhiSearch/ai.git
[submodule "llama-server-bindings"]
	path = llama-server-bindings
	url = git@github.com:BodhiSearch/llama-server-bindings.git
