* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
Makefile text eol=lf
*.mk text eol=lf