INTEG_TEST_RESOURCE_CLIENT_ID=
INTEG_TEST_RESOURCE_CLIENT_SECRET=
INTEG_TEST_APP_CLIENT_ID=
INTEG_TEST_APP_CLIENT_SECRET=
INTEG_TEST_AUTH_SERVER_URL=
INTEG_TEST_AUTH_REALM=

INTEG_TEST_USER=
INTEG_TEST_PASSWORD=