# Auth Server Configuration
INTEG_TEST_AUTH_URL=https://test-id.getbodhi.app
INTEG_TEST_AUTH_REALM=bodhi

# Dev Console Client (for creating other clients)
INTEG_TEST_DEV_CONSOLE_CLIENT_ID=client-bodhi-dev-console
INTEG_TEST_DEV_CONSOLE_CLIENT_SECRET=<secret>

# Test User Credentials
INTEG_TEST_USER=<user-email>
INTEG_TEST_PASSWORD=<user-password>
INTEG_TEST_USERNAME_ID=<user-secret>
