# Auth Server Configuration
INTEG_TEST_AUTH_URL=https://main-id.getbodhi.app
INTEG_TEST_AUTH_REALM=bodhi

# Pre-configured Clients
INTEG_TEST_RESOURCE_CLIENT_ID=<resource-client-id>
INTEG_TEST_RESOURCE_CLIENT_SECRET=<secret>
INTEG_TEST_APP_CLIENT_ID=<app-client-id>

# Test User Credentials
INTEG_TEST_USERNAME=<user-email>
INTEG_TEST_PASSWORD=<user-pass>
INTEG_TEST_USERNAME_ID=<user-id>

INTEG_TEST_APP_DB_PG_URL=postgres://bodhi_test:bodhi_test@localhost:64320/bodhi_app

INTEG_TEST_MULTI_TENANT_CLIENT_ID=test-client-bodhi-multi-tenant
INTEG_TEST_MULTI_TENANT_CLIENT_SECRET=2JxAWnC9fejzo2bBlq2MxYiEN5zF1ttj
