# Auth Server Configuration
INTEG_TEST_AUTH_URL=https://main-id.getbodhi.app
INTEG_TEST_AUTH_REALM=bodhi

# Pre-configured Clients
INTEG_TEST_RESOURCE_CLIENT_ID=<resource-client-id>
INTEG_TEST_RESOURCE_CLIENT_SECRET=<secret>
INTEG_TEST_APP_CLIENT_ID=<app-client-id>

# Test User Credentials
INTEG_TEST_USERNAME=<user-email>
INTEG_TEST_PASSWORD=<user-pass>
INTEG_TEST_USERNAME_ID=<user-id>
