{
  "openapi": "3.0.3",
  "info": {
    "title": "Gemini API",
    "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
    "version": "v1beta",
    "x-google-revision": "20260410"
  },
  "servers": [
    {
      "url": "https://generativelanguage.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "paths": {
    "/v1beta/models": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "operationId": "ListModels",
        "description": "Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini)\navailable through the Gemini API.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of `Models` to return (per page).\n\nIf unspecified, 50 models will be returned per page.\nThis method returns at most 1000 models per page, even if you pass a larger\npage_size.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous `ListModels` call.\n\nProvide the `page_token` returned by one request as an argument to the next\nrequest to retrieve the next page.\n\nWhen paginating, all other parameters provided to `ListModels` must match\nthe call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ]
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "operationId": "GenerateContent",
        "description": "Generates a model response given an input `GenerateContentRequest`.\nRefer to the [text generation\nguide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed\nusage information. Input capabilities differ between models, including\ntuned models. Refer to the [model\nguide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning\nguide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ]
    },
    "/v1beta/models/{model}:embedContent": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "operationId": "EmbedContent",
        "description": "Generates a text embedding vector from the input `Content` using the\nspecified [Gemini Embedding\nmodel](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbedContentResponse"
                }
              }
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ]
      }
    },
    "/v1beta/models/{model}:streamGenerateContent": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "operationId": "StreamGenerateContent",
        "description": "Generates a [streamed\nresponse](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream)\nfrom the model given an input `GenerateContentRequest`.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                }
              }
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ]
      }
    },
    "/v1beta/models/{model}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "operationId": "GetModel",
        "description": "Gets information about a specific `Model` such as its version number, token\nlimits,\n[parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters)\nand other metadata. Refer to the [Gemini models\nguide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed\nmodel information.",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Resource ID segment making up resource `name`. It identifies the resource within its parent collection as described in https://google.aip.dev/122.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        },
        "security": [],
        "tags": [
          "generativelanguage"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2"
          ],
          "x-google-enum-descriptions": [
            "v1 error format",
            "v2 error format"
          ]
        },
        "name": "$.xgafv",
        "in": "query"
      },
      "alt": {
        "schema": {
          "type": "string",
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        "description": "Data format for response.",
        "name": "$alt",
        "in": "query"
      },
      "callback": {
        "name": "$callback",
        "in": "query",
        "description": "JSONP",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "type": "boolean",
          "default": "true"
        },
        "name": "$prettyPrint",
        "in": "query"
      }
    },
    "schemas": {
      "CountTextTokensResponse": {
        "description": "A response from `CountTextTokens`.\n\nIt returns the model's `token_count` for the `prompt`.",
        "type": "object",
        "properties": {
          "tokenCount": {
            "description": "The number of tokens that the `model` tokenizes the `prompt` into.\n\nAlways non-negative.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ThinkingConfig": {
        "description": "Config for thinking features.",
        "type": "object",
        "properties": {
          "thinkingLevel": {
            "description": "Optional. Controls the maximum depth of the model's internal reasoning process before\nit produces a response. If not specified, the default is HIGH. Recommended\nfor Gemini 3 or later models. Use with earlier models results in an error.",
            "type": "string",
            "enum": [
              "THINKING_LEVEL_UNSPECIFIED",
              "MINIMAL",
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "x-google-enum-descriptions": [
              "Default value.",
              "Little to no thinking.",
              "Low thinking level.",
              "Medium thinking level.",
              "High thinking level."
            ]
          },
          "thinkingBudget": {
            "description": "The number of thoughts tokens that the model should generate.",
            "type": "integer",
            "format": "int32"
          },
          "includeThoughts": {
            "description": "Indicates whether to include thoughts in the response.\nIf true, thoughts are returned only when available.",
            "type": "boolean"
          }
        }
      },
      "FunctionDeclaration": {
        "description": "Structured representation of a function declaration as defined by the\n[OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included\nin this declaration are the function name and parameters. This\nFunctionDeclaration is a representation of a block of code that can be used\nas a `Tool` by the model and executed by the client.",
        "type": "object",
        "properties": {
          "response": {
            "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the\nOpen API 3.03 Response Object. The Schema defines the type used for the\nresponse value of the function.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Schema"
              }
            ]
          },
          "responseJsonSchema": {
            "description": "Optional. Describes the output from this function in JSON Schema format. The value\nspecified by the schema is the response value of the function.\n\nThis field is mutually exclusive with `response`."
          },
          "description": {
            "description": "Required. A brief description of the function.",
            "type": "string"
          },
          "parametersJsonSchema": {
            "description": "Optional. Describes the parameters to the function in JSON Schema format. The schema\nmust describe an object where the properties are the parameters to the\nfunction. For example:\n\n```\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"age\": { \"type\": \"integer\" }\n  },\n  \"additionalProperties\": false,\n  \"required\": [\"name\", \"age\"],\n  \"propertyOrdering\": [\"name\", \"age\"]\n}\n```\n\nThis field is mutually exclusive with `parameters`."
          },
          "name": {
            "description": "Required. The name of the function.\nMust be a-z, A-Z, 0-9, or contain underscores, colons, dots, and dashes,\nwith a maximum length of 128.",
            "type": "string"
          },
          "parameters": {
            "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03\nParameter Object string Key: the name of the parameter. Parameter names are\ncase sensitive. Schema Value: the Schema defining the type used for the\nparameter.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Schema"
              }
            ]
          },
          "behavior": {
            "description": "Optional. Specifies the function Behavior.\nCurrently only supported by the BidiGenerateContent method.",
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "BLOCKING",
              "NON_BLOCKING"
            ],
            "x-google-enum-descriptions": [
              "This value is unused.",
              "If set, the system will wait to receive the function response before\ncontinuing the conversation.",
              "If set, the system will not wait to receive the function response.\nInstead, it will attempt to handle function responses as they become\navailable while maintaining the conversation between the user and the\nmodel."
            ]
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "ImportFileResponse": {
        "description": "Response for `ImportFile` to import a File API file with a `FileSearchStore`.",
        "type": "object",
        "properties": {
          "parent": {
            "description": "The name of the `FileSearchStore` containing `Document`s.\nExample: `fileSearchStores/my-file-search-store-123`",
            "type": "string"
          },
          "documentName": {
            "description": "Immutable. Identifier. The identifier for the `Document` imported.\nExample:\n`fileSearchStores/my-file-search-store-123/documents/my-awesome-doc-123a456b789c`",
            "type": "string",
            "x-google-identifier": true,
            "x-google-immutable": true
          }
        }
      },
      "PredictLongRunningGeneratedVideoResponse": {
        "description": "Veo response.",
        "type": "object",
        "properties": {
          "generatedSamples": {
            "description": "The generated samples.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Media"
            }
          },
          "raiMediaFilteredCount": {
            "description": "Returns if any videos were filtered due to RAI policies.",
            "type": "integer",
            "format": "int32"
          },
          "raiMediaFilteredReasons": {
            "description": "Returns rai failure reasons if any.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CountTextTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model.\n\nModels may tokenize text differently, so each model may return a different\n`token_count`.",
        "type": "object",
        "properties": {
          "prompt": {
            "description": "Required. The free-form input text given to the model as a prompt.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TextPrompt"
              }
            ]
          }
        },
        "required": [
          "prompt"
        ]
      },
      "FileSearchStore": {
        "description": "A `FileSearchStore` is a collection of `Document`s.",
        "type": "object",
        "properties": {
          "createTime": {
            "description": "Output only. The Timestamp of when the `FileSearchStore` was created.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "failedDocumentsCount": {
            "description": "Output only. The number of documents in the `FileSearchStore` that have failed\nprocessing.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "pendingDocumentsCount": {
            "description": "Output only. The number of documents in the `FileSearchStore` that are being processed.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "name": {
            "description": "Output only. Immutable. Identifier. The `FileSearchStore` resource name. It is an ID (name excluding the\n\"fileSearchStores/\" prefix) that can contain up to 40 characters that are\nlowercase alphanumeric or dashes\n(-). It is output only. The unique name will be derived from\n`display_name` along with a 12 character random suffix. Example:\n`fileSearchStores/my-awesome-file-search-store-123a456b789c`\nIf `display_name` is not provided, the name will be randomly generated.",
            "type": "string",
            "readOnly": true,
            "x-google-identifier": true,
            "x-google-immutable": true
          },
          "displayName": {
            "description": "Optional. The human-readable display name for the `FileSearchStore`. The display name\nmust be no more than 512 characters in length, including spaces. Example:\n\"Docs on Semantic Retriever\"",
            "type": "string"
          },
          "activeDocumentsCount": {
            "description": "Output only. The number of documents in the `FileSearchStore` that are active and ready\nfor retrieval.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "updateTime": {
            "description": "Output only. The Timestamp of when the `FileSearchStore` was last updated.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "sizeBytes": {
            "description": "Output only. The size of raw bytes ingested into the `FileSearchStore`. This is the\ntotal size of all the documents in the `FileSearchStore`.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          }
        }
      },
      "TuningSnapshot": {
        "description": "Record for a single tuning step.",
        "type": "object",
        "properties": {
          "computeTime": {
            "description": "Output only. The timestamp when this metric was computed.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "epoch": {
            "description": "Output only. The epoch this step was part of.",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "meanLoss": {
            "description": "Output only. The mean loss of the training examples for this step.",
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "step": {
            "description": "Output only. The tuning step.",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        }
      },
      "InlinedEmbedContentRequest": {
        "description": "The request to be processed in the batch.",
        "type": "object",
        "properties": {
          "request": {
            "description": "Required. The request to be processed in the batch.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbedContentRequest"
              }
            ]
          },
          "metadata": {
            "description": "Optional. The metadata to be associated with the request.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": [
          "request"
        ]
      },
      "Example": {
        "description": "An input/output example used to instruct the Model.\n\nIt demonstrates how the model should respond or format its response.",
        "type": "object",
        "properties": {
          "input": {
            "description": "Required. An example of an input `Message` from the user.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Message"
              }
            ]
          },
          "output": {
            "description": "Required. An example of what the model should output given the input.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Message"
              }
            ]
          }
        },
        "required": [
          "input",
          "output"
        ]
      },
      "PredictRequest": {
        "description": "Request message for PredictionService.Predict.",
        "type": "object",
        "properties": {
          "instances": {
            "description": "Required. The instances that are the input to the prediction call.",
            "type": "array"
          },
          "parameters": {
            "description": "Optional. The parameters that govern the prediction call."
          }
        },
        "required": [
          "instances"
        ]
      },
      "Blob": {
        "description": "Raw media bytes.\n\nText should not be sent as raw bytes, use the 'text' field.",
        "type": "object",
        "properties": {
          "mimeType": {
            "description": "The IANA standard MIME type of the source data.\nExamples:\n  - image/png\n  - image/jpeg\nIf an unsupported MIME type is provided, an error will be returned. For a\ncomplete list of supported types, see [Supported file\nformats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
            "type": "string"
          },
          "data": {
            "description": "Raw bytes for media formats.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "GenerativeLanguageModality": {
        "type": "string",
        "enum": [
          "MODALITY_UNSPECIFIED",
          "TEXT",
          "IMAGE",
          "VIDEO",
          "AUDIO",
          "DOCUMENT"
        ],
        "x-google-enum-descriptions": [
          "Unspecified modality.",
          "Plain text.",
          "Image.",
          "Video.",
          "Audio.",
          "Document, e.g. PDF."
        ]
      },
      "UsageMetadata": {
        "description": "Metadata on the generation request's token usage.",
        "type": "object",
        "properties": {
          "totalTokenCount": {
            "description": "Total token count for the generation request (prompt + response\ncandidates).",
            "type": "integer",
            "format": "int32"
          },
          "toolUsePromptTokenCount": {
            "description": "Output only. Number of tokens present in tool-use prompt(s).",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "cacheTokensDetails": {
            "description": "Output only. List of modalities of the cached content in the request input.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "readOnly": true
          },
          "promptTokenCount": {
            "description": "Number of tokens in the prompt. When `cached_content` is set, this is\nstill the total effective prompt size meaning this includes the number of\ntokens in the cached content.",
            "type": "integer",
            "format": "int32"
          },
          "candidatesTokensDetails": {
            "description": "Output only. List of modalities that were returned in the response.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "readOnly": true
          },
          "toolUsePromptTokensDetails": {
            "description": "Output only. List of modalities that were processed for tool-use request inputs.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "readOnly": true
          },
          "cachedContentTokenCount": {
            "description": "Number of tokens in the cached part of the prompt (the cached content)",
            "type": "integer",
            "format": "int32"
          },
          "thoughtsTokenCount": {
            "description": "Output only. Number of tokens of thoughts for thinking models.",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "promptTokensDetails": {
            "description": "Output only. List of modalities that were processed in the request input.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModalityTokenCount"
            },
            "readOnly": true
          },
          "candidatesTokenCount": {
            "description": "Total number of tokens across all the generated response candidates.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GenerateAnswerResponse": {
        "description": "Response from the model for a grounded answer.",
        "type": "object",
        "properties": {
          "answer": {
            "description": "Candidate answer from the model.\n\nNote: The model *always* attempts to provide a grounded answer, even when\nthe answer is unlikely to be answerable from the given passages.\nIn that case, a low-quality or ungrounded answer may be provided, along\nwith a low `answerable_probability`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Candidate"
              }
            ]
          },
          "answerableProbability": {
            "description": "Output only. The model's estimate of the probability that its answer is correct and\ngrounded in the input passages.\n\nA low `answerable_probability` indicates that the answer might not be\ngrounded in the sources.\n\nWhen `answerable_probability` is low, you may want to:\n\n* Display a message to the effect of \"We couldn’t answer that question\" to\nthe user.\n* Fall back to a general-purpose LLM that answers the question from world\nknowledge. The threshold and nature of such fallbacks will depend on\nindividual use cases. `0.5` is a good starting threshold.",
            "type": "number",
            "format": "float",
            "readOnly": true
          },
          "inputFeedback": {
            "description": "Output only. Feedback related to the input data used to answer the question, as opposed\nto the model-generated response to the question.\n\nThe input data can be one or more of the following:\n\n- Question specified by the last entry in `GenerateAnswerRequest.content`\n- Conversation history specified by the other entries in\n`GenerateAnswerRequest.content`\n- Grounding sources (`GenerateAnswerRequest.semantic_retriever` or\n`GenerateAnswerRequest.inline_passages`)",
            "allOf": [
              {
                "$ref": "#/components/schemas/InputFeedback"
              }
            ],
            "readOnly": true
          }
        }
      },
      "EmbedContentBatchStats": {
        "description": "Stats about the batch.",
        "type": "object",
        "properties": {
          "requestCount": {
            "description": "Output only. The number of requests in the batch.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "successfulRequestCount": {
            "description": "Output only. The number of requests that were successfully processed.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "pendingRequestCount": {
            "description": "Output only. The number of requests that are still pending processing.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "failedRequestCount": {
            "description": "Output only. The number of requests that failed to be processed.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          }
        }
      },
      "TunedModel": {
        "description": "A fine-tuned model created using ModelService.CreateTunedModel.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Optional. A short description of this model.",
            "type": "string"
          },
          "temperature": {
            "description": "Optional. Controls the randomness of the output.\n\nValues can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will\nproduce responses that are more varied, while a value closer to `0.0` will\ntypically result in less surprising responses from the model.\n\nThis value specifies default to be the one used by the base model while\ncreating the model.",
            "type": "number",
            "format": "float"
          },
          "displayName": {
            "description": "Optional. The name to display for this model in user interfaces.\nThe display name must be up to 40 characters including spaces.",
            "type": "string"
          },
          "readerProjectNumbers": {
            "description": "Optional. List of project numbers that have read access to the tuned model.",
            "type": "array",
            "items": {
              "format": "int64",
              "type": "string"
            }
          },
          "createTime": {
            "description": "Output only. The timestamp when this model was created.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "topP": {
            "description": "Optional. For Nucleus sampling.\n\nNucleus sampling considers the smallest set of tokens whose probability\nsum is at least `top_p`.\n\nThis value specifies default to be the one used by the base model while\ncreating the model.",
            "type": "number",
            "format": "float"
          },
          "tuningTask": {
            "description": "Required. The tuning task that creates the tuned model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TuningTask"
              }
            ]
          },
          "updateTime": {
            "description": "Output only. The timestamp when this model was updated.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "name": {
            "description": "Output only. The tuned model name. A unique name will be generated on create.\nExample: `tunedModels/az2mb0bpw6i`\nIf display_name is set on create, the id portion of the name will be set\nby concatenating the words of the display_name with hyphens and adding a\nrandom portion for uniqueness.\n\nExample:\n\n * display_name = `Sentence Translator`\n * name = `tunedModels/sentence-translator-u3b7m`",
            "type": "string",
            "readOnly": true
          },
          "state": {
            "description": "Output only. The state of the tuned model.",
            "type": "string",
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "FAILED"
            ],
            "readOnly": true,
            "x-google-enum-descriptions": [
              "The default value. This value is unused.",
              "The model is being created.",
              "The model is ready to be used.",
              "The model failed to be created."
            ]
          },
          "baseModel": {
            "description": "Immutable. The name of the `Model` to tune.\nExample: `models/gemini-1.5-flash-001`",
            "type": "string",
            "x-google-immutable": true
          },
          "topK": {
            "description": "Optional. For Top-k sampling.\n\nTop-k sampling considers the set of `top_k` most probable tokens.\nThis value specifies default to be used by the backend while making the\ncall to the model.\n\nThis value specifies default to be the one used by the base model while\ncreating the model.",
            "type": "integer",
            "format": "int32"
          },
          "tunedModelSource": {
            "description": "Optional. TunedModel to use as the starting point for training the new model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/TunedModelSource"
              }
            ]
          }
        },
        "required": [
          "tuningTask"
        ]
      },
      "TuningTask": {
        "description": "Tuning tasks that create tuned models.",
        "type": "object",
        "properties": {
          "startTime": {
            "description": "Output only. The timestamp when tuning this model started.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "completeTime": {
            "description": "Output only. The timestamp when tuning this model completed.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "trainingData": {
            "description": "Required. Input only. Immutable. The model training data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Dataset"
              }
            ],
            "writeOnly": true,
            "x-google-immutable": true
          },
          "snapshots": {
            "description": "Output only. Metrics collected during tuning.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TuningSnapshot"
            },
            "readOnly": true
          },
          "hyperparameters": {
            "description": "Immutable. Hyperparameters controlling the tuning process. If not provided, default\nvalues will be used.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Hyperparameters"
              }
            ],
            "x-google-immutable": true
          }
        },
        "required": [
          "trainingData"
        ]
      },
      "CountMessageTokensResponse": {
        "description": "A response from `CountMessageTokens`.\n\nIt returns the model's `token_count` for the `prompt`.",
        "type": "object",
        "properties": {
          "tokenCount": {
            "description": "The number of tokens that the `model` tokenizes the `prompt` into.\n\nAlways non-negative.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ModelStatus": {
        "description": "The status of the underlying model. This is used to indicate the stage of the\nunderlying model and the retirement time if applicable.",
        "type": "object",
        "properties": {
          "retirementTime": {
            "description": "The time at which the model will be retired.",
            "type": "string",
            "format": "date-time"
          },
          "modelStage": {
            "description": "The stage of the underlying model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ModelStage"
              }
            ]
          },
          "message": {
            "description": "A message explaining the model status.",
            "type": "string"
          }
        }
      },
      "DownloadFileResponse": {
        "description": "Response for `DownloadFile`.",
        "type": "object"
      },
      "CreateTunedModelMetadata": {
        "description": "Metadata about the state and progress of creating a tuned model returned from\nthe long-running operation",
        "type": "object",
        "properties": {
          "totalSteps": {
            "description": "The total number of tuning steps.",
            "type": "integer",
            "format": "int32"
          },
          "completedSteps": {
            "description": "The number of steps completed.",
            "type": "integer",
            "format": "int32"
          },
          "completedPercent": {
            "description": "The completed percentage for the tuning operation.",
            "type": "number",
            "format": "float"
          },
          "snapshots": {
            "description": "Metrics collected during tuning.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TuningSnapshot"
            }
          },
          "tunedModel": {
            "description": "Name of the tuned model associated with the tuning operation.",
            "type": "string"
          }
        }
      },
      "UploadToFileSearchStoreMetadata": {
        "description": "Metadata for LongRunning UploadToFileSearchStore Operations.",
        "type": "object"
      },
      "FunctionCall": {
        "description": "A predicted `FunctionCall` returned from the model that contains\na string representing the `FunctionDeclaration.name` with the\narguments and their values.",
        "type": "object",
        "properties": {
          "args": {
            "description": "Optional. The function parameters and values in JSON object format.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "id": {
            "description": "Optional. Unique identifier of the function call. If populated, the client to\nexecute the `function_call` and return the response with the matching `id`.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the function to call.\nMust be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum\nlength of 128.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "PredictLongRunningOperation": {
        "description": "This resource represents a long-running operation where metadata and response fields are strongly typed.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseOperation"
          },
          {
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/PredictLongRunningMetadata"
              },
              "response": {
                "$ref": "#/components/schemas/PredictLongRunningResponse"
              }
            },
            "type": "object"
          }
        ]
      },
      "RetrievedContext": {
        "description": "Chunk from context retrieved by the file search tool.",
        "type": "object",
        "properties": {
          "title": {
            "description": "Optional. Title of the document.",
            "type": "string"
          },
          "fileSearchStore": {
            "description": "Optional. Name of the `FileSearchStore` containing the document.\nExample: `fileSearchStores/123`",
            "type": "string"
          },
          "uri": {
            "description": "Optional. URI reference of the semantic retrieval document.",
            "type": "string"
          },
          "text": {
            "description": "Optional. Text of the chunk.",
            "type": "string"
          },
          "customMetadata": {
            "description": "Optional. User-provided metadata about the retrieved context.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroundingChunkCustomMetadata"
            }
          }
        }
      },
      "TopCandidates": {
        "description": "Candidates with top log probabilities at each decoding step.",
        "type": "object",
        "properties": {
          "candidates": {
            "description": "Sorted by log probability in descending order.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogprobsResultCandidate"
            }
          }
        }
      },
      "AttributionSourceId": {
        "description": "Identifier for the source contributing to this attribution.",
        "type": "object",
        "properties": {
          "groundingPassage": {
            "description": "Identifier for an inline passage.",
            "allOf": [
              {
                "$ref": "#/components/schemas/GroundingPassageId"
              }
            ]
          },
          "semanticRetrieverChunk": {
            "description": "Identifier for a `Chunk` fetched via Semantic Retriever.",
            "allOf": [
              {
                "$ref": "#/components/schemas/SemanticRetrieverChunk"
              }
            ]
          }
        }
      },
      "TransferOwnershipResponse": {
        "description": "Response from `TransferOwnership`.",
        "type": "object"
      },
      "EmbedContentBatch": {
        "description": "A resource representing a batch of `EmbedContent` requests.",
        "type": "object",
        "properties": {
          "model": {
            "description": "Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "type": "string"
          },
          "displayName": {
            "description": "Required. The user-defined name of this batch.",
            "type": "string"
          },
          "name": {
            "description": "Output only. Identifier. Resource name of the batch.\n\nFormat: `batches/{batch_id}`.",
            "type": "string",
            "readOnly": true,
            "x-google-identifier": true
          },
          "output": {
            "description": "Output only. The output of the batch request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbedContentBatchOutput"
              }
            ],
            "readOnly": true
          },
          "updateTime": {
            "description": "Output only. The time at which the batch was last updated.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "batchStats": {
            "description": "Output only. Stats about the batch.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbedContentBatchStats"
              }
            ],
            "readOnly": true
          },
          "createTime": {
            "description": "Output only. The time at which the batch was created.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "endTime": {
            "description": "Output only. The time at which the batch processing completed.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "state": {
            "description": "Output only. The state of the batch.",
            "allOf": [
              {
                "$ref": "#/components/schemas/BatchState"
              }
            ],
            "readOnly": true
          },
          "priority": {
            "description": "Optional. The priority of the batch. Batches with a higher priority value will be\nprocessed before batches with a lower priority value. Negative values are\nallowed. Default is 0.",
            "type": "string",
            "format": "int64"
          },
          "inputConfig": {
            "description": "Required. Input configuration of the instances on which batch processing\nare performed.",
            "allOf": [
              {
                "$ref": "#/components/schemas/InputEmbedContentConfig"
              }
            ]
          }
        },
        "required": [
          "model",
          "displayName",
          "inputConfig"
        ]
      },
      "TextPrompt": {
        "description": "Text given to the model as a prompt.\n\nThe Model will use this TextPrompt to Generate a text completion.",
        "type": "object",
        "properties": {
          "text": {
            "description": "Required. The prompt text.",
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      },
      "ToolResponse": {
        "description": "The output from a server-side `ToolCall` execution. This message contains\nthe results of a tool invocation that was initiated by a `ToolCall`\nfrom the model. The client should pass this `ToolResponse` back to the API\nin a subsequent turn within a `Content` message, along with the corresponding\n`ToolCall`.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Optional. The identifier of the tool call this response is for.",
            "type": "string"
          },
          "toolType": {
            "description": "Required. The type of tool that was called, matching the `tool_type` in the\ncorresponding `ToolCall`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolType"
              }
            ]
          },
          "response": {
            "description": "Optional. The tool response.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          }
        },
        "required": [
          "toolType"
        ]
      },
      "SemanticRetrieverConfig": {
        "description": "Configuration for retrieving grounding content from a `Corpus` or\n`Document` created using the Semantic Retriever API.",
        "type": "object",
        "properties": {
          "metadataFilters": {
            "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataFilter"
            }
          },
          "query": {
            "description": "Required. Query to use for matching `Chunk`s in the given resource by similarity.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ]
          },
          "source": {
            "description": "Required. Name of the resource for retrieval. Example: `corpora/123` or\n`corpora/123/documents/abc`.",
            "type": "string"
          },
          "maxChunksCount": {
            "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
            "type": "integer",
            "format": "int32"
          },
          "minimumRelevanceScore": {
            "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s.",
            "type": "number",
            "format": "float"
          }
        },
        "required": [
          "source",
          "query"
        ]
      },
      "RegisterFilesResponse": {
        "description": "Response for `RegisterFiles`.",
        "type": "object",
        "properties": {
          "files": {
            "description": "The registered files to be used when calling GenerateContent.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          }
        }
      },
      "LogprobsResult": {
        "description": "Logprobs Result",
        "type": "object",
        "properties": {
          "topCandidates": {
            "description": "Length = total number of decoding steps.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopCandidates"
            }
          },
          "chosenCandidates": {
            "description": "Length = total number of decoding steps.\nThe chosen candidates may or may not be in top_candidates.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LogprobsResultCandidate"
            }
          },
          "logProbabilitySum": {
            "description": "Sum of log probabilities for all tokens.",
            "type": "number",
            "format": "float"
          }
        }
      },
      "InputEmbedContentConfig": {
        "description": "Configures the input to the batch request.",
        "type": "object",
        "properties": {
          "requests": {
            "description": "The requests to be processed in the batch.",
            "allOf": [
              {
                "$ref": "#/components/schemas/InlinedEmbedContentRequests"
              }
            ]
          },
          "fileName": {
            "description": "The name of the `File` containing the input requests.",
            "type": "string"
          }
        }
      },
      "SpeakerVoiceConfig": {
        "description": "The configuration for a single speaker in a multi speaker setup.",
        "type": "object",
        "properties": {
          "speaker": {
            "description": "Required. The name of the speaker to use. Should be the same as in the prompt.",
            "type": "string"
          },
          "voiceConfig": {
            "description": "Required. The configuration for the voice to use.",
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceConfig"
              }
            ]
          }
        },
        "required": [
          "speaker",
          "voiceConfig"
        ]
      },
      "EmbedContentResponse": {
        "description": "The response to an `EmbedContentRequest`.",
        "type": "object",
        "properties": {
          "embedding": {
            "description": "Output only. The embedding generated from the input content.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ContentEmbedding"
              }
            ],
            "readOnly": true
          },
          "usageMetadata": {
            "description": "Output only. The usage metadata for the request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/EmbeddingUsageMetadata"
              }
            ],
            "readOnly": true
          }
        }
      },
      "Part": {
        "description": "A datatype containing media that is part of a multi-part `Content` message.\n\nA `Part` consists of data which has an associated datatype. A `Part` can only\ncontain one of the accepted types in `Part.data`.\n\nA `Part` must have a fixed IANA MIME type identifying the type and subtype\nof the media if the `inline_data` field is filled with raw bytes.",
        "type": "object",
        "properties": {
          "thoughtSignature": {
            "description": "Optional. An opaque signature for the thought so it can be reused in subsequent\nrequests.",
            "type": "string",
            "format": "byte"
          },
          "text": {
            "description": "Inline text.",
            "type": "string"
          },
          "videoMetadata": {
            "description": "Optional. Video metadata. The metadata should only be specified while the video\ndata is presented in inline_data or file_data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/VideoMetadata"
              }
            ]
          },
          "thought": {
            "description": "Optional. Indicates if the part is thought from the model.",
            "type": "boolean"
          },
          "functionCall": {
            "description": "A predicted `FunctionCall` returned from the model that contains\na string representing the `FunctionDeclaration.name` with the\narguments and their values.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionCall"
              }
            ]
          },
          "fileData": {
            "description": "URI based data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FileData"
              }
            ]
          },
          "functionResponse": {
            "description": "The result output of a `FunctionCall` that contains a string\nrepresenting the `FunctionDeclaration.name` and a structured JSON\nobject containing any output from the function is used as context to\nthe model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionResponse"
              }
            ]
          },
          "codeExecutionResult": {
            "description": "Result of executing the `ExecutableCode`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CodeExecutionResult"
              }
            ]
          },
          "executableCode": {
            "description": "Code generated by the model that is meant to be executed.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ExecutableCode"
              }
            ]
          },
          "partMetadata": {
            "description": "Custom metadata associated with the Part.\nAgents using genai.Part as content representation may need to keep track\nof the additional information. For example it can be name of a file/source\nfrom which the Part originates or a way to multiplex multiple Part streams.",
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object."
            }
          },
          "mediaResolution": {
            "description": "Optional. Media resolution for the input media.",
            "allOf": [
              {
                "$ref": "#/components/schemas/MediaResolution"
              }
            ]
          },
          "toolCall": {
            "description": "Server-side tool call. This field is populated when the model\npredicts a tool invocation that should be executed on the server.\nThe client is expected to echo this message back to the API.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolCall"
              }
            ]
          },
          "toolResponse": {
            "description": "The output from a server-side `ToolCall` execution. This field is\npopulated by the client with the results of executing the\ncorresponding `ToolCall`.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolResponse"
              }
            ]
          },
          "inlineData": {
            "description": "Inline media bytes.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Blob"
              }
            ]
          }
        }
      },
      "PredictLongRunningResponse": {
        "description": "Response message for [PredictionService.PredictLongRunning]",
        "type": "object",
        "properties": {
          "generateVideoResponse": {
            "description": "The response of the video generation prediction.",
            "allOf": [
              {
                "$ref": "#/components/schemas/PredictLongRunningGeneratedVideoResponse"
              }
            ]
          }
        }
      },
      "Candidate": {
        "description": "A response candidate generated from the model.",
        "type": "object",
        "properties": {
          "finishMessage": {
            "description": "Optional. Output only. Details the reason why the model stopped generating tokens.\nThis is populated only when `finish_reason` is set.",
            "type": "string",
            "readOnly": true
          },
          "content": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ],
            "description": "Output only. Generated content returned from the model.",
            "readOnly": true
          },
          "index": {
            "description": "Output only. Index of the candidate in the list of response candidates.",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "finishReason": {
            "description": "Optional. Output only. The reason why the model stopped generating tokens.\n\nIf empty, the model has not stopped generating tokens.",
            "type": "string",
            "enum": [
              "FINISH_REASON_UNSPECIFIED",
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY",
              "IMAGE_PROHIBITED_CONTENT",
              "IMAGE_OTHER",
              "NO_IMAGE",
              "IMAGE_RECITATION",
              "UNEXPECTED_TOOL_CALL",
              "TOO_MANY_TOOL_CALLS",
              "MISSING_THOUGHT_SIGNATURE",
              "MALFORMED_RESPONSE"
            ],
            "readOnly": true,
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "Natural stop point of the model or provided stop sequence.",
              "The maximum number of tokens as specified in the request was reached.",
              "The response candidate content was flagged for safety reasons.",
              "The response candidate content was flagged for recitation reasons.",
              "The response candidate content was flagged for using an unsupported\nlanguage.",
              "Unknown reason.",
              "Token generation stopped because the content contains forbidden terms.",
              "Token generation stopped for potentially containing prohibited content.",
              "Token generation stopped because the content potentially contains\nSensitive Personally Identifiable Information (SPII).",
              "The function call generated by the model is invalid.",
              "Token generation stopped because generated images contain safety\nviolations.",
              "Image generation stopped because generated images has other prohibited\ncontent.",
              "Image generation stopped because of other miscellaneous issue.",
              "The model was expected to generate an image, but none was generated.",
              "Image generation stopped due to recitation.",
              "Model generated a tool call but no tools were enabled in the request.",
              "Model called too many tools consecutively, thus the system exited\nexecution.",
              "Request has at least one thought signature missing.",
              "Finished due to malformed response."
            ]
          },
          "safetyRatings": {
            "description": "List of ratings for the safety of a response candidate.\n\nThere is at most one rating per category.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetyRating"
            }
          },
          "groundingAttributions": {
            "description": "Output only. Attribution information for sources that contributed to a grounded answer.\n\nThis field is populated for `GenerateAnswer` calls.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroundingAttribution"
            },
            "readOnly": true
          },
          "citationMetadata": {
            "description": "Output only. Citation information for model-generated candidate.\n\nThis field may be populated with recitation information for any text\nincluded in the `content`. These are passages that are \"recited\" from\ncopyrighted material in the foundational LLM's training data.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CitationMetadata"
              }
            ],
            "readOnly": true
          },
          "groundingMetadata": {
            "description": "Output only. Grounding metadata for the candidate.\n\nThis field is populated for `GenerateContent` calls.",
            "allOf": [
              {
                "$ref": "#/components/schemas/GroundingMetadata"
              }
            ],
            "readOnly": true
          },
          "avgLogprobs": {
            "description": "Output only. Average log probability score of the candidate.",
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "urlContextMetadata": {
            "description": "Output only. Metadata related to url context retrieval tool.",
            "allOf": [
              {
                "$ref": "#/components/schemas/UrlContextMetadata"
              }
            ],
            "readOnly": true
          },
          "logprobsResult": {
            "description": "Output only. Log-likelihood scores for the response tokens and top tokens",
            "allOf": [
              {
                "$ref": "#/components/schemas/LogprobsResult"
              }
            ],
            "readOnly": true
          },
          "tokenCount": {
            "description": "Output only. Token count for this candidate.",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        }
      },
      "FunctionResponsePart": {
        "description": "A datatype containing media that is part of a `FunctionResponse` message.\n\nA `FunctionResponsePart` consists of data which has an associated datatype. A\n`FunctionResponsePart` can only contain one of the accepted types in\n`FunctionResponsePart.data`.\n\nA `FunctionResponsePart` must have a fixed IANA MIME type identifying the\ntype and subtype of the media if the `inline_data` field is filled with raw\nbytes.",
        "type": "object",
        "properties": {
          "inlineData": {
            "description": "Inline media bytes.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionResponseBlob"
              }
            ]
          }
        }
      },
      "CachedContent": {
        "description": "Content that has been preprocessed and can be used in subsequent request\nto GenerativeService.\n\nCached content can be only used with model it was created for.",
        "type": "object",
        "properties": {
          "systemInstruction": {
            "description": "Optional. Input only. Immutable. Developer set system instruction. Currently text only.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ],
            "writeOnly": true,
            "x-google-immutable": true
          },
          "usageMetadata": {
            "description": "Output only. Metadata on the usage of the cached content.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CachedContentUsageMetadata"
              }
            ],
            "readOnly": true
          },
          "createTime": {
            "description": "Output only. Creation time of the cache entry.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "expireTime": {
            "description": "Timestamp in UTC of when this resource is considered expired.\nThis is *always* provided on output, regardless of what was sent\non input.",
            "type": "string",
            "format": "date-time"
          },
          "contents": {
            "description": "Optional. Input only. Immutable. The content to cache.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            },
            "writeOnly": true,
            "x-google-immutable": true
          },
          "updateTime": {
            "description": "Output only. When the cache entry was last updated in UTC time.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "ttl": {
            "description": "Input only. New TTL for this resource, input only.",
            "type": "string",
            "format": "google-duration",
            "writeOnly": true
          },
          "tools": {
            "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "writeOnly": true,
            "x-google-immutable": true
          },
          "name": {
            "description": "Output only. Identifier. The resource name referring to the cached content.\nFormat: `cachedContents/{id}`",
            "type": "string",
            "readOnly": true,
            "x-google-identifier": true
          },
          "displayName": {
            "description": "Optional. Immutable. The user-generated meaningful display name of the cached content. Maximum\n128 Unicode characters.",
            "type": "string",
            "x-google-immutable": true
          },
          "model": {
            "description": "Required. Immutable. The name of the `Model` to use for cached content\nFormat: `models/{model}`",
            "type": "string",
            "x-google-immutable": true
          },
          "toolConfig": {
            "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolConfig"
              }
            ],
            "writeOnly": true,
            "x-google-immutable": true
          }
        },
        "required": [
          "model"
        ]
      },
      "GroundingPassageId": {
        "description": "Identifier for a part within a `GroundingPassage`.",
        "type": "object",
        "properties": {
          "passageId": {
            "description": "Output only. ID of the passage matching the `GenerateAnswerRequest`'s\n`GroundingPassage.id`.",
            "type": "string",
            "readOnly": true
          },
          "partIndex": {
            "description": "Output only. Index of the part within the `GenerateAnswerRequest`'s\n`GroundingPassage.content`.",
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        }
      },
      "SearchTypes": {
        "description": "Different types of search that can be enabled on the GoogleSearch tool.",
        "type": "object",
        "properties": {
          "webSearch": {
            "description": "Optional. Enables web search. Only text results are returned.",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebSearch"
              }
            ]
          },
          "imageSearch": {
            "description": "Optional. Enables image search. Image bytes are returned.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageSearch"
              }
            ]
          }
        }
      },
      "Media": {
        "description": "A proto encapsulate various type of media.",
        "type": "object",
        "properties": {
          "video": {
            "description": "Video as the only one for now.  This is mimicking Vertex proto.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Video"
              }
            ]
          }
        }
      },
      "GenerateContentRequest": {
        "description": "Request to generate a completion from the model.",
        "type": "object",
        "properties": {
          "model": {
            "description": "Required. The name of the `Model` to use for generating the completion.\n\nFormat: `models/{model}`.",
            "type": "string"
          },
          "toolConfig": {
            "description": "Optional. Tool configuration for any `Tool` specified in the request. Refer to the\n[Function calling\nguide](https://ai.google.dev/gemini-api/docs/function-calling#function_calling_mode)\nfor a usage example.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolConfig"
              }
            ]
          },
          "generationConfig": {
            "description": "Optional. Configuration options for model generation and outputs.",
            "allOf": [
              {
                "$ref": "#/components/schemas/GenerationConfig"
              }
            ]
          },
          "tools": {
            "description": "Optional. A list of `Tools` the `Model` may use to generate the next response.\n\nA `Tool` is a piece of code that enables the system to interact with\nexternal systems to perform an action, or set of actions, outside of\nknowledge and scope of the `Model`. Supported `Tool`s are `Function` and\n`code_execution`. Refer to the [Function\ncalling](https://ai.google.dev/gemini-api/docs/function-calling) and the\n[Code execution](https://ai.google.dev/gemini-api/docs/code-execution)\nguides to learn more.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "contents": {
            "description": "Required. The content of the current conversation with the model.\n\nFor single-turn queries, this is a single instance. For multi-turn queries\nlike [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat),\nthis is a repeated field that contains the conversation history and the\nlatest request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Content"
            }
          },
          "cachedContent": {
            "description": "Optional. The name of the content\n[cached](https://ai.google.dev/gemini-api/docs/caching) to use as context\nto serve the prediction. Format: `cachedContents/{cachedContent}`",
            "type": "string"
          },
          "safetySettings": {
            "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content.\n\nThis will be enforced on the `GenerateContentRequest.contents` and\n`GenerateContentResponse.candidates`. There should not be more than one\nsetting for each `SafetyCategory` type. The API will block any contents and\nresponses that fail to meet the thresholds set by these settings. This list\noverrides the default settings for each `SafetyCategory` specified in the\nsafety_settings. If there is no `SafetySetting` for a given\n`SafetyCategory` provided in the list, the API will use the default safety\nsetting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH,\nHARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT,\nHARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY are supported.\nRefer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings)\nfor detailed information on available safety settings. Also refer to the\n[Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to\nlearn how to incorporate safety considerations in your AI applications.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            }
          },
          "serviceTier": {
            "description": "Optional. The service tier of the request.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceTier"
              }
            ]
          },
          "systemInstruction": {
            "description": "Optional. Developer set [system\ninstruction(s)](https://ai.google.dev/gemini-api/docs/system-instructions).\nCurrently, text only.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ]
          },
          "store": {
            "description": "Optional. Configures the logging behavior for a given request. If set, it takes\nprecedence over the project-level logging config.",
            "type": "boolean"
          }
        },
        "required": [
          "model",
          "contents"
        ]
      },
      "CountMessageTokensRequest": {
        "description": "Counts the number of tokens in the `prompt` sent to a model.\n\nModels may tokenize text differently, so each model may return a different\n`token_count`.",
        "type": "object",
        "properties": {
          "prompt": {
            "description": "Required. The prompt, whose token count is to be returned.",
            "allOf": [
              {
                "$ref": "#/components/schemas/MessagePrompt"
              }
            ]
          }
        },
        "required": [
          "prompt"
        ]
      },
      "ServiceTier": {
        "type": "string",
        "enum": [
          "unspecified",
          "standard",
          "flex",
          "priority"
        ],
        "x-google-enum-descriptions": [
          "Default service tier, which is standard.",
          "Standard service tier.",
          "Flex service tier.",
          "Priority service tier."
        ]
      },
      "BaseOperation": {
        "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
        "type": "object",
        "properties": {
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
            "type": "boolean"
          },
          "error": {
            "description": "The error result of the operation in case of failure or cancellation.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Status"
              }
            ]
          },
          "name": {
            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
            "type": "string"
          }
        }
      },
      "PlaceAnswerSources": {
        "description": "Collection of sources that provide answers about the features of a given\nplace in Google Maps. Each PlaceAnswerSources message corresponds to a\nspecific place in Google Maps. The Google Maps tool used these sources in\norder to answer questions about features of the place (e.g: \"does Bar Foo\nhave Wifi\" or \"is Foo Bar wheelchair accessible?\"). Currently we only\nsupport review snippets as sources.",
        "type": "object",
        "properties": {
          "reviewSnippets": {
            "description": "Snippets of reviews that are used to generate answers about the\nfeatures of a given place in Google Maps.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewSnippet"
            }
          }
        }
      },
      "RetrievalMetadata": {
        "description": "Metadata related to retrieval in the grounding flow.",
        "type": "object",
        "properties": {
          "googleSearchDynamicRetrievalScore": {
            "description": "Optional. Score indicating how likely information from google search could help\nanswer the prompt. The score is in the range [0, 1], where 0 is the least\nlikely and 1 is the most likely. This score is only populated when\ngoogle search grounding and dynamic retrieval is enabled. It will be\ncompared to the threshold to determine whether to trigger google search.",
            "type": "number",
            "format": "float"
          }
        }
      },
      "GroundingAttribution": {
        "description": "Attribution for a source that contributed to an answer.",
        "type": "object",
        "properties": {
          "sourceId": {
            "description": "Output only. Identifier for the source contributing to this attribution.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AttributionSourceId"
              }
            ],
            "readOnly": true
          },
          "content": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Content"
              }
            ],
            "description": "Grounding source content that makes up this attribution."
          }
        }
      },
      "ChunkingConfig": {
        "description": "Parameters for telling the service how to chunk the file.\ninspired by\ngoogle3/cloud/ai/platform/extension/lib/retrieval/config/chunker_config.proto",
        "type": "object",
        "properties": {
          "whiteSpaceConfig": {
            "description": "White space chunking configuration.",
            "allOf": [
              {
                "$ref": "#/components/schemas/WhiteSpaceConfig"
              }
            ]
          }
        }
      },
      "BatchGenerateContentOperation": {
        "description": "This resource represents a long-running operation where metadata and response fields are strongly typed.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseOperation"
          },
          {
            "type": "object",
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/GenerateContentBatch"
              },
              "response": {
                "$ref": "#/components/schemas/BatchGenerateContentResponse"
              }
            }
          }
        ]
      },
      "ListModelsResponse": {
        "description": "Response from `ListModel` containing a paginated list of Models.",
        "type": "object",
        "properties": {
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\n\nIf this field is omitted, there are no more pages.",
            "type": "string"
          },
          "models": {
            "description": "The returned Models.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "ListCorporaResponse": {
        "description": "Response from `ListCorpora` containing a paginated list of `Corpora`.\nThe results are sorted by ascending `corpus.create_time`.",
        "type": "object",
        "properties": {
          "corpora": {
            "description": "The returned corpora.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Corpus"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no more pages.",
            "type": "string"
          }
        }
      },
      "BatchEmbedTextResponse": {
        "description": "The response to a EmbedTextRequest.",
        "type": "object",
        "properties": {
          "embeddings": {
            "description": "Output only. The embeddings generated from the input text.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            },
            "readOnly": true
          }
        }
      },
      "Type": {
        "type": "string",
        "enum": [
          "TYPE_UNSPECIFIED",
          "STRING",
          "NUMBER",
          "INTEGER",
          "BOOLEAN",
          "ARRAY",
          "OBJECT",
          "NULL"
        ],
        "x-google-enum-descriptions": [
          "Not specified, should not be used.",
          "String type.",
          "Number type.",
          "Integer type.",
          "Boolean type.",
          "Array type.",
          "Object type.",
          "Null type."
        ]
      },
      "BatchStats": {
        "description": "Stats about the batch.",
        "type": "object",
        "properties": {
          "successfulRequestCount": {
            "description": "Output only. The number of requests that were successfully processed.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "pendingRequestCount": {
            "description": "Output only. The number of requests that are still pending processing.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "failedRequestCount": {
            "description": "Output only. The number of requests that failed to be processed.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "requestCount": {
            "description": "Output only. The number of requests in the batch.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          }
        }
      },
      "CreateFileRequest": {
        "description": "Request for `CreateFile`.",
        "type": "object",
        "properties": {
          "file": {
            "description": "Optional. Metadata for the file to create.",
            "allOf": [
              {
                "$ref": "#/components/schemas/File"
              }
            ]
          }
        }
      },
      "TransferOwnershipRequest": {
        "description": "Request to transfer the ownership of the tuned model.",
        "type": "object",
        "properties": {
          "emailAddress": {
            "description": "Required. The email address of the user to whom the tuned model is being transferred\nto.",
            "type": "string"
          }
        },
        "required": [
          "emailAddress"
        ]
      },
      "ImageConfig": {
        "description": "Config for image generation features.",
        "type": "object",
        "properties": {
          "aspectRatio": {
            "description": "Optional. The aspect ratio of the image to generate. Supported aspect ratios: `1:1`,\n`1:4`, `4:1`, `1:8`, `8:1`, `2:3`, `3:2`, `3:4`, `4:3`, `4:5`, `5:4`,\n`9:16`, `16:9`, or `21:9`.\n\nIf not specified, the model will choose a default aspect ratio based on any\nreference images provided.",
            "type": "string"
          },
          "imageSize": {
            "description": "Optional. Specifies the size of generated images. Supported values are `512`, `1K`,\n`2K`, `4K`. If not specified, the model will use default value `1K`.",
            "type": "string"
          }
        }
      },
      "Hyperparameters": {
        "description": "Hyperparameters controlling the tuning process. Read more at\nhttps://ai.google.dev/docs/model_tuning_guidance",
        "type": "object",
        "properties": {
          "batchSize": {
            "description": "Immutable. The batch size hyperparameter for tuning.\nIf not set, a default of 4 or 16 will be used based on the number of\ntraining examples.",
            "type": "integer",
            "format": "int32",
            "x-google-immutable": true
          },
          "learningRate": {
            "description": "Optional. Immutable. The learning rate hyperparameter for tuning.\nIf not set, a default of 0.001 or 0.0002 will be calculated based on the\nnumber of training examples.",
            "type": "number",
            "format": "float",
            "x-google-immutable": true
          },
          "learningRateMultiplier": {
            "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate\nbased on the default (recommended) value.\nActual learning rate := learning_rate_multiplier * default learning rate\nDefault learning rate is dependent on base model and dataset size.\nIf not set, a default of 1.0 will be used.",
            "type": "number",
            "format": "float",
            "x-google-immutable": true
          },
          "epochCount": {
            "description": "Immutable. The number of training epochs. An epoch is one pass through the training\ndata.\nIf not set, a default of 5 will be used.",
            "type": "integer",
            "format": "int32",
            "x-google-immutable": true
          }
        }
      },
      "ListFileSearchStoresResponse": {
        "description": "Response from `ListFileSearchStores` containing a paginated list of\n`FileSearchStores`. The results are sorted by ascending\n`file_search_store.create_time`.",
        "type": "object",
        "properties": {
          "fileSearchStores": {
            "description": "The returned rag_stores.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileSearchStore"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no more pages.",
            "type": "string"
          }
        }
      },
      "ToolConfig": {
        "description": "The Tool configuration containing parameters for specifying `Tool` use\nin the request.",
        "type": "object",
        "properties": {
          "functionCallingConfig": {
            "description": "Optional. Function calling config.",
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionCallingConfig"
              }
            ]
          },
          "retrievalConfig": {
            "description": "Optional. Retrieval config.",
            "allOf": [
              {
                "$ref": "#/components/schemas/RetrievalConfig"
              }
            ]
          },
          "includeServerSideToolInvocations": {
            "description": "Optional. If true, the API response will include the server-side tool calls and\nresponses within the `Content` message. This allows clients to\nobserve the server's tool interactions.",
            "type": "boolean"
          }
        }
      },
      "ImportFileRequest": {
        "description": "Request for `ImportFile` to import a File API file with a `FileSearchStore`.",
        "type": "object",
        "properties": {
          "chunkingConfig": {
            "description": "Optional. Config for telling the service how to chunk the file.\nIf not provided, the service will use default parameters.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ChunkingConfig"
              }
            ]
          },
          "fileName": {
            "description": "Required. The name of the `File` to import.\nExample: `files/abc-123`",
            "type": "string"
          },
          "customMetadata": {
            "description": "Custom metadata to be associated with the file.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomMetadata"
            }
          }
        },
        "required": [
          "fileName"
        ]
      },
      "GenerateContentResponse": {
        "description": "Response from the model supporting multiple candidate responses.\n\nSafety ratings and content filtering are reported for both\nprompt in `GenerateContentResponse.prompt_feedback` and for each candidate\nin `finish_reason` and in `safety_ratings`. The API:\n - Returns either all requested candidates or none of them\n - Returns no candidates at all only if there was something wrong with the\n   prompt (check `prompt_feedback`)\n - Reports feedback on each candidate in `finish_reason` and\n   `safety_ratings`.",
        "type": "object",
        "properties": {
          "candidates": {
            "description": "Candidate responses from the model.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          },
          "modelVersion": {
            "description": "Output only. The model version used to generate the response.",
            "type": "string",
            "readOnly": true
          },
          "usageMetadata": {
            "description": "Output only. Metadata on the generation requests' token usage.",
            "allOf": [
              {
                "$ref": "#/components/schemas/UsageMetadata"
              }
            ],
            "readOnly": true
          },
          "promptFeedback": {
            "description": "Returns the prompt's feedback related to the content filters.",
            "allOf": [
              {
                "$ref": "#/components/schemas/PromptFeedback"
              }
            ]
          },
          "modelStatus": {
            "description": "Output only. The current model status of this model.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ModelStatus"
              }
            ],
            "readOnly": true
          },
          "responseId": {
            "description": "Output only. response_id is used to identify each response.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "SearchEntryPoint": {
        "description": "Google search entry point.",
        "type": "object",
        "properties": {
          "renderedContent": {
            "description": "Optional. Web content snippet that can be embedded in a web page or an app webview.",
            "type": "string"
          },
          "sdkBlob": {
            "description": "Optional. Base64 encoded JSON representing array of  tuple.",
            "type": "string",
            "format": "byte"
          }
        }
      },
      "LatLng": {
        "description": "An object that represents a latitude/longitude pair. This is expressed as a\npair of doubles to represent degrees latitude and degrees longitude. Unless\nspecified otherwise, this object must conform to the\nWGS84 standard. Values must be within normalized ranges.",
        "type": "object",
        "properties": {
          "latitude": {
            "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
            "type": "number",
            "format": "double"
          }
        }
      },
      "File": {
        "description": "A file uploaded to the API.\nNext ID: 15",
        "type": "object",
        "properties": {
          "uri": {
            "description": "Output only. The uri of the `File`.",
            "type": "string",
            "readOnly": true
          },
          "state": {
            "description": "Output only. Processing state of the File.",
            "type": "string",
            "enum": [
              "STATE_UNSPECIFIED",
              "PROCESSING",
              "ACTIVE",
              "FAILED"
            ],
            "readOnly": true,
            "x-google-enum-descriptions": [
              "The default value. This value is used if the state is omitted.",
              "File is being processed and cannot be used for inference yet.",
              "File is processed and available for inference.",
              "File failed processing."
            ]
          },
          "downloadUri": {
            "description": "Output only. The download uri of the `File`.",
            "type": "string",
            "readOnly": true
          },
          "name": {
            "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can\ncontain up to 40 characters that are lowercase alphanumeric or dashes (-).\nThe ID cannot start or end with a dash. If the name is empty on create, a\nunique name will be generated.\nExample: `files/123-456`",
            "type": "string",
            "x-google-identifier": true,
            "x-google-immutable": true
          },
          "mimeType": {
            "description": "Output only. MIME type of the file.",
            "type": "string",
            "readOnly": true
          },
          "source": {
            "description": "Source of the File.",
            "type": "string",
            "enum": [
              "SOURCE_UNSPECIFIED",
              "UPLOADED",
              "GENERATED",
              "REGISTERED"
            ],
            "x-google-enum-descriptions": [
              "Used if source is not specified.",
              "Indicates the file is uploaded by the user.",
              "Indicates the file is generated by Google.",
              "Indicates the file is a registered, i.e. a Google Cloud Storage file."
            ]
          },
          "updateTime": {
            "description": "Output only. The timestamp of when the `File` was last updated.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "createTime": {
            "description": "Output only. The timestamp of when the `File` was created.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "sizeBytes": {
            "description": "Output only. Size of the file in bytes.",
            "type": "string",
            "format": "int64",
            "readOnly": true
          },
          "sha256Hash": {
            "description": "Output only. SHA-256 hash of the uploaded bytes.",
            "type": "string",
            "format": "byte",
            "readOnly": true
          },
          "expirationTime": {
            "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is\nscheduled to expire.",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "videoMetadata": {
            "description": "Output only. Metadata for a video.",
            "allOf": [
              {
                "$ref": "#/components/schemas/VideoFileMetadata"
              }
            ],
            "readOnly": true
          },
          "displayName": {
            "description": "Optional. The human-readable display name for the `File`. The display name must be\nno more than 512 characters in length, including spaces.\nExample: \"Welcome Image\"",
            "type": "string"
          },
          "error": {
            "description": "Output only. Error status if File processing failed.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Status"
              }
            ],
            "readOnly": true
          }
        }
      },
      "InputFeedback": {
        "description": "Feedback related to the input data used to answer the question, as opposed\nto the model-generated response to the question.",
        "type": "object",
        "properties": {
          "safetyRatings": {
            "description": "Ratings for safety of the input.\nThere is at most one rating per category.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetyRating"
            }
          },
          "blockReason": {
            "description": "Optional. If set, the input was blocked and no candidates are returned.\nRephrase the input.",
            "type": "string",
            "enum": [
              "BLOCK_REASON_UNSPECIFIED",
              "SAFETY",
              "OTHER"
            ],
            "x-google-enum-descriptions": [
              "Default value. This value is unused.",
              "Input was blocked due to safety reasons. Inspect\n`safety_ratings` to understand which safety category blocked it.",
              "Input was blocked due to other reasons."
            ]
          }
        }
      },
      "ListTunedModelsResponse": {
        "description": "Response from `ListTunedModels` containing a paginated list of Models.",
        "type": "object",
        "properties": {
          "tunedModels": {
            "description": "The returned Models.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TunedModel"
            }
          },
          "nextPageToken": {
            "description": "A token, which can be sent as `page_token` to retrieve the next page.\n\nIf this field is omitted, there are no more pages.",
            "type": "string"
          }
        }
      },
      "ModelStage": {
        "type": "string",
        "enum": [
          "MODEL_STAGE_UNSPECIFIED",
          "UNSTABLE_EXPERIMENTAL",
          "EXPERIMENTAL",
          "PREVIEW",
          "STABLE",
          "LEGACY",
          "DEPRECATED",
          "RETIRED"
        ],
        "x-google-enum-deprecated": [
          false,
          true,
          false,
          false,
          false,
          false,
          true,
          false
        ],
        "x-google-enum-descriptions": [
          "Unspecified model stage.",
[...]
