INTEG_TEST_AUTH_URL=
INTEG_TEST_AUTH_REALM=
INTEG_TEST_CLIENT_ID=
INTEG_TEST_CLIENT_SECRET=
INTEG_TEST_USERNAME=
INTEG_TEST_PASSWORD=

# OpenID Configuration Values
INTEG_TEST_ISSUER=
INTEG_TEST_KID=
INTEG_TEST_PUBLIC_KEY=""
