<code class="syntax-highlighter-code" style="white-space: pre">
  <span
    class="linenumber react-syntax-highlighter-line-number"
    style="
      display: inline-block;
      min-width: 2.25em;
      padding-right: 1em;
      text-align: right;
      user-select: none;
      color: rgb(92, 99, 112);
      font-style: italic;
    "
  >
    1
  </span>
  <span class="token" style="color: rgb(198, 120, 221)">def</span>
  <span></span>
  <span class="token method-definition" style="color: rgb(97, 175, 239)">
    greeting
  </span>
  <span class="token" style="color: rgb(171, 178, 191)">(</span>
  <span>name</span>
  <span class="token" style="color: rgb(171, 178, 191)">)</span>
  <span></span>
  <span
    class="linenumber react-syntax-highlighter-line-number"
    style="
      display: inline-block;
      min-width: 2.25em;
      padding-right: 1em;
      text-align: right;
      user-select: none;
      color: rgb(92, 99, 112);
      font-style: italic;
    "
  >
    2
  </span>
  <span></span>
  <span class="token string-literal" style="color: rgb(152, 195, 121)">
    "Hello,
  </span>
  <span
    class="token string-literal interpolation delimiter"
    style="color: rgb(171, 178, 191)"
  >
    #{
  </span>
  <span class="token string-literal interpolation">name</span>
  <span
    class="token string-literal interpolation delimiter"
    style="color: rgb(171, 178, 191)"
  >
    }
  </span>
  <span class="token string-literal" style="color: rgb(152, 195, 121)">!"</span>
  <span></span>
  <span
    class="linenumber react-syntax-highlighter-line-number"
    style="
      display: inline-block;
      min-width: 2.25em;
      padding-right: 1em;
      text-align: right;
      user-select: none;
      color: rgb(92, 99, 112);
      font-style: italic;
    "
  >
    3
  </span>
  <span></span>
  <span class="token" style="color: rgb(198, 120, 221)">end</span>
</code>
