<code class="syntax-highlighter-code" style="white-space: pre">
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >1</span
>
<span class="token keyword">function</span>
<span class=""></span>
<span class="token function">greeting</span>
<span class="token punctuation">(</span>
<span class="">name</span>
<span class="token operator">:</span>
<span class=""></span>
<span class="token builtin">string</span>
<span class="token punctuation">)</span>
<span class="token operator">:</span>
<span class=""></span>
<span class="token builtin">string</span>
<span class=""></span>
<span class="token punctuation">{</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >2</span
>
<span class=""></span>
<span class="token keyword control-flow">return</span>
<span class=""></span>
<span class="token template-string template-punctuation string">`</span>
<span class="token template-string string">Hello,</span>
<span class="token template-string interpolation interpolation-punctuation punctuation">${</span>
<span class="token template-string interpolation">name</span>
<span class="token template-string interpolation interpolation-punctuation punctuation">}</span>
<span class="token template-string string">!</span>
<span class="token template-string template-punctuation string">`</span>
<span class="token punctuation">;</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >3</span
>
<span class=""></span>
<span class="token punctuation">}</span>
</code>