<code class="syntax-highlighter-code" style="white-space: pre">
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >1</span
>
<span class="token keyword">def</span>
<span class=""></span>
<span class="token function">greeting</span>
<span class="token punctuation">(</span>
<span class="">name</span>
<span class="token punctuation">:</span>
<span class=""></span>
<span class="token builtin">str</span>
<span class="token punctuation">)</span>
<span class=""></span>
<span class="token operator">-</span>
<span class="token operator">&gt;</span>
<span class=""></span>
<span class="token builtin">str</span>
<span class="token punctuation">:</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >2</span
>
<span class=""></span>
<span class="token keyword">return</span>
<span class=""></span>
<span class="token string-interpolation string">f"Hello,</span>
<span class="token string-interpolation interpolation punctuation">{</span>
<span class="token string-interpolation interpolation">name</span>
<span class="token string-interpolation interpolation punctuation">}</span>
<span class="token string-interpolation string">!"</span>
</code>