<code class="syntax-highlighter-code" style="white-space: pre">
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >1</span
>
<span class="token keyword">def</span>
<span class=""></span>
<span class="token method-definition function">greeting</span>
<span class="token punctuation">(</span>
<span class="">name</span>
<span class="token punctuation">)</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >2</span
>
<span class=""></span>
<span class="token string-literal string">"Hello,</span>
<span class="token string-literal interpolation delimiter punctuation">
  #{
</span>
<span class="token string-literal interpolation content">name</span>
<span class="token string-literal interpolation delimiter punctuation">
  }
</span>
<span class="token string-literal string">!"</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >3</span
>
<span class=""></span>
<span class="token keyword">end</span>
</code>