<code class="syntax-highlighter-code" style="white-space: pre">
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >1</span
>
<span class="token keyword">public</span>
<span class=""></span>
<span class="token keyword">class</span>
<span class=""></span>
<span class="token class-name">Main</span>
<span class=""></span>
<span class="token punctuation">{</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >2</span
>
<span class=""></span>
<span class="token keyword">public</span>
<span class=""></span>
<span class="token class-name">String</span>
<span class=""></span>
<span class="token function">greeting</span>
<span class="token punctuation">(</span>
<span class="token class-name">String</span>
<span class="">name</span>
<span class="token punctuation">)</span>
<span class=""></span>
<span class="token punctuation">{</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >3</span
>
<span class=""></span>
<span class="token keyword">return</span>
<span class=""></span>
<span class="token class-name">String</span>
<span class="token punctuation">.</span>
<span class="token function">format</span>
<span class="token punctuation">(</span>
<span class="token string">"Hello, %s!"</span>
<span class="token punctuation">,</span>
<span class="">name</span>
<span class="token punctuation">)</span>
<span class="token punctuation">;</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >4</span
>
<span class=""></span>
<span class="token punctuation">}</span>
<span class=""></span>
<span
  class="comment linenumber react-syntax-highlighter-line-number"
  style="display: inline-block; min-width: 2.25em; padding-right: 1em; text-align: right; user-select: none"
  >5</span
>
<span class=""></span>
<span class="token punctuation">}</span> 
</code>